<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Garlic" version="2.1.0.0" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net452" />
  <package id="Markdown" version="1.14.4" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net46" />
  <package id="SharpSvn.1.9-x86" version="1.9002.3765.67" targetFramework="net46" />
</packages>